<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <title>Jake's Bakes delivery tools</title>

    <!-- Vue scripts -->
    <script src="https://unpkg.com/vue"></script>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">Jake's Bakes delivery tools</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <div class="container">

      <div class="starter-template">
        <h1>Check customer availability for gift delivery</h1>

        <div id="app">
          <div class="row justify-content-md-center">
            <div class="col-lg-6">
              <div class="input-group">
                <input v-model="phoneNumber" type="text" class="form-control" placeholder="Phone number" aria-label="Phone number">
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="button" @click.prevent="checkAvailability">Send SMS</button>
                </span>
              </div>
              <div class="contacted" v-if="customerContacted && availability === 'pending'">
                Customer has been contacted. Waiting for confirmation.
              </div>

              <div class="h3 available" v-if="availability === 'available'">Customer is available</div>
              <div class="h3 not-available" v-else-if="availability === 'not available'">Customer is NOT available</div>
            </div>
          </div>
        </div><!-- /.app -->
      </div><!-- /.starter-template -->

    </div><!-- /.container -->

    <!-- Main availability app -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js'></script>
    <script>
      var socket = io('http://localhost:3030/');

      socket.on("status", function(status) {
        app.availability = status
      })

      var app = new Vue({
        el: '#app',
        created: function() {
          socket.on('connect', function() {
            console.log('Socket connection established')
          })
        },
        data: {
          availability: 'pending',
          customerContacted: false,
          phoneNumber: ''
        },
        methods: {
          checkAvailability: function() {
            this.customerContacted = true
            socket.emit('checkCustomerStatus', this.phoneNumber)
            this.phoneNumber = ''
          }
        }
      })
    </script> <!-- /.Main availability app -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\/script>')</script>
  </body>
</html>